body {
    font-family: "Roboto", sans-serif;
}

header,
main,
footer {
    max-width: 640px;
    border: 1px solid black;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #8075ff;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #f8f0fb;
}